@charset "utf-8";

// **** main page


.main {
  z-index: 10;
  position: relative;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  color: #fff;
}

// header
.header {
  text-align: center;

  &__title {
    line-height: 1;
  }

  &__image {
    opacity: 1;
    width: 33vw;
    height: auto;


    @include res--desktop {
      width: 520px;
      height: 56px;
    }

    @include res--laptop {
      width: 48vw;
    }

    @include res--mobile {
      width: 60vw;
    }

  }

  &__text {
    position: relative;
    @include font-quicksand;
    margin-top: 1vw;
    font-size: 1.25vw;
    letter-spacing: 0.54em;
    line-height: 1;

    @include res--desktop {
      font-size: 18px;
      margin-top: 16px;
      margin-top: 22px;
      letter-spacing: 0.58em;
    }

    @include res--laptop {
      font-size: 1.8vw;
      margin-top: 1.5vw;
    }

    @include res--mobile {
      font-size: 2.2vw;
      margin-top: 2.7vw;
      letter-spacing: 0.48em;
    }
  }


}

// IE를 위한 특별맞춤(^^) 높이값
html[data-agent*="Trident"] .header__image {
  height: 5vw;

  @include res--desktop {
    width: 520px;
    height: 56px;
  }

  @include res--laptop {
    width: 48vw;
    height: 7vw;
  }

  @include res--mobile {
    width: 60vw;
    height: 6vw;
  }
}



// countdown
.countdown {
  @include flexbox;
  margin-top: 3vw;
  margin-bottom: 80px;
  @include font-museo;

  @include res--desktop {
    margin-top: 55px;
  }

  @include res--laptop {
    margin-top: 4vw;
  }

  @include res--mobile {
    margin-top: 7vw;
  }

  &__days,
  &__hours,
  &__minutes {
    @include flexbox;
    @include align-items(center);
    margin-left: 2vw;

    @include res--desktop {
      margin-left: 40px;
    }

    @include res--laptop {
      margin-left: 3vw;
    }

    @include res--mobile {
      margin-left: 5vw;
    }
  }

  &__days {
    margin-left: 0;
  }

  &__number {
    display: block;
    width: 7.3vw;
    margin-right: 0.8vw;
    font-size: 5.625vw;
    line-height: 1;
    color: #9dfbfc;
    letter-spacing: 0.05em;

    @include res--desktop {
      width: 104px;
      font-size: 86px;
      margin-right: 16px;
    }

    @include res--laptop {
      width: 10vw;
      font-size: 8vw;
      margin-right: 1.4vw;
    }

    @include res--mobile {
      width: 11vw;
      font-size: 8.6vw;
    }
  }

  &__text {
    display: block;
    margin-top: 24px;
    font-size: 2.0833vw;
    line-height: 1;
    letter-spacing: 0.05em;

    @include res--desktop {
      font-size: 36px;
    }

    @include res--laptop {
      margin-top: 30px;
      font-size: 3vw;
    }

    @include res--mobile {
      font-size: 3.6vw;
      margin-top: 3.4vw;
    }
  }
}

// footer
.footer {
  position: absolute;
  bottom: 25px;
  left: 50%;
  @include transform(translateX(-50%));
  font-size: 1vw;
  letter-spacing: 0.2em;

  @include res--desktop {
    font-size: 14px;
  }

  @include res--laptop {
    font-size: 1.4vw;
  }

  @include res--mobile {
    font-size: 10px;
  }

  &__link {
    opacity: 0.3;
    // @include font-walkway;
    @include font-quicksand;
    transition: opacity 0.2s;
    cursor: none;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.2s;
    }
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__circle {
    //도트 형태의 원형 이미지
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include bgi("background-circle");
    margin-top: -25px;
    width: 34vw;
    height: 34vw;
    background-size: 100%;

    @include res--desktop {
      width: 550px;
      height: 550px;
    }

    @include res--laptop {
      width: 51vw;
      height: 51vw;
    }

    @include res--mobile {
      width: 410px;
      height: 410px;
    }
  }

  &__line1 {
    // 오른쪽 아래의 실선 원형
    opacity: 0.8;
    position: absolute;
    top: 3vw;
    right: -3vw;
    width: 34vw;
    height: 34vw;
    animation-name: lineAnimation_1;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    transform-origin: 49% 50%;
    animation-timing-function: linear;

    @include res--desktop {
      top: 50px;
      right: -50px;
      width: 550px;
      height: 550px;
    }

    @include res--laptop {
      top: 4vw;
      right: -4vw;
      width: 51vw;
      height: 51vw;
    }

    @include res--mobile {
      top: 30px;
      right: -30px;
      width: 410px;
      height: 410px;
    }
  }

  &__line2 {
    // 왼쪽 위의 잘린 실선
    opacity: 0.9;
    position: absolute;
    top: -3.3vw;
    left: -3.3vw;
    width: 40vw;
    height: 40vw;
    transform: rotate(14deg);
    animation-name: lineAnimation_2;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    @include res--desktop {
      top: -45px;
      left: -45px;
      width: 620px;
      height: 620px;
    }

    @include res--laptop {
      top: -4.5vw;
      left: -4.5vw;
      width: 60vw;
      height: 60vw;
    }

    @include res--mobile {
      top: -40px;
      left: -40px;
      width: 500px;
      height: 500px;
    }
  }

  &__line3 {
    // 왼쪽 위의 잘린 짧은 실선
    opacity: 0.9;
    position: absolute;
    top: -3.3vw;
    left: -3.3vw;
    width: 40vw;
    height: 40vw;
    transform: rotate(180deg);
    animation-name: lineAnimation_3;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    @include res--desktop {
      top: -45px;
      left: -45px;
      width: 620px;
      height: 620px;
    }

    @include res--laptop {
      top: -4.5vw;
      left: -4.5vw;
      width: 60vw;
      height: 60vw;
    }

    @include res--mobile {
      top: -40px;
      left: -40px;
      width: 500px;
      height: 500px;
    }
  }
}