@charset "utf-8";

// **** Font

// 뮤제오 산스
$museo: "museosans";

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  src: url(#{$path-font}#{$museo}.eot);
  src: url(#{$path-font}#{$museo}.eot?#iefix) format('embedded-opentype'),
  url(#{$path-font}#{$museo}.woff) format("woff");
}

// 퀵 샌드
$quicksand: "quicksand";

@font-face {
  font-family: "Quick Sand";
  font-weight: 400;
  src: url(#{$path-font}#{$quicksand}.eot);
  src: url(#{$path-font}#{$quicksand}.eot?#iefix) format('embedded-opentype'),
  url(#{$path-font}#{$quicksand}.woff) format("woff");
}